*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    min-height: 80px;
    background-color: #262626;
    overflow: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo {
    color: white;
    width: 30%;
    float: left;
    margin-top: 21px;
}

.menu_bar {
    width: 40%;
    float: right;
}

.menu_bar ul li{
    float: left;
    color: #D9D9D9;
}

.menu_bar ul li:first-child{
    list-style-type: none;
}

.menu_bar ul li a{
    color: #D9D9D9;
    display: block;
    padding: 30px 49px;
    text-decoration: none;
    transition: 1s;
}

.menu_bar ul li a:hover{
    color: #FF6760;
}


.slider {
    overflow: hidden;
    min-height: 400px;
    background-color: #2A2A2A;
}

.slider_caption {
    text-align: center;
    padding-top: 70px;
}

.heading_caption{
    font-size: 48px;
    color: #D9D9D9;
}

.slider_caption p{
    color: #D9D9D9;
    font-size: 28px;
    padding-top: 25px;
}

.and_sign {
    color: #FF6760; 
}

.slider_caption button{
    margin-top: 45px;
    background-color: #FF6760;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    overflow: hidden;
    background-color: #F6F6F6;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.single_item {
    width: 30%;
    float: left;
    text-align: center;
    color: #616161;
    margin: 20px 20px 0px 20px;
}

.icon_image {
    font-size: 48px;
    color: #616161;
}

.single_item h3{
    color: #616161;
    padding-top: 18px;
    padding-bottom: 18px;
}

.single_item p{
    line-height: 30px;
}

.anchor_style {
    text-decoration: none;
    color: #FF6760; 
}

footer{
    overflow: hidden;
    background-color: #2A2A2A;
    min-height: 200px;
    padding-top: 60px;
}

.footer_content {
    text-align: center;
    color: #D9D9D9; 
}

.footer_content h2{
    color: white;
    padding-bottom: 30px;
}

.footer_content p{
    line-height: 30px;
}

.social_icon {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 18px;
}

.twitter{
    background-color: #5DAED5;
    margin-right: 5px;
    padding: 10px;
    border-radius: 20px;
}

.facebook{
    background-color: #4470CF;
    padding: 10px 14px;
    border-radius: 20px;
}
